<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Person_by_Gyan_Lakhwani_from_the_Noun_Project.png">
<h2>Welcome Mr. <span th:text="${user.username}"/>'s profile ....</h2>
<h2>firstName <span th:text="${user.firstName}"/>'s firstName ....</h2>
<h2>lastName <span th:text="${user.lastName}"/>'s lastName ....</h2>
<h2>dateOfBirth <span th:text="${user.dateOfBirth}"/>'s dateOfBirth ....</h2>
<h2>bio <span th:text="${user.bio}"/>'s bio ....</h2>


</body>
</html>